<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'index' %}">Voltar</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for n in gasto %}
            <tr>
                <td>{{forloop.counter}}<td>
                <td>{{n.descricao}}</td>
                <td>{{n.valor}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>